:root {
    --MainColor: #e6b800;
}

/* sidebar */
#accordionSidebar {
    background-color: var(--MainColor);
    color: #262626;
    z-index: 3;
}

/* nav-dashboard */

.crown {
    color: yellow;
}
.no-crown {
    color: #262626;
}
#tableUser img{
  max-width: 70px;
  max-height: 100px;
}