:root {
    --MainColor: #e6b800;
}

/* sidebar */
#accordionSidebar {
    background-color: var(--MainColor);
    color: #262626;
    z-index: 3;
}

/* nav-dashboard */
#tableUser th, #tableUser td {
    text-align: center;
}

#tableUser img{
  max-width: 70px;
  max-height: 100px;
}