:root {
    --mainColor: #ffc107;
    --mainHover: #cca300;
    --dark: #5a5c69;
    --darkHover: rgb(207, 207, 207);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    top: 0;

}

body a {
    text-decoration: none;
}

/* header */
.navbar-fixed-top {
    position: fixed !important;
    z-index: 5;
}

.nav-item {
    border-radius: 3px;
}

.nav-item:hover {
    background-color: var(--mainColor);
}

/* search */
.search {
    width: 100%;
}

.search nav {
    max-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.search select {
    margin: 0 1%;
}

.search button i {
    font-size: 23px;
}

.search select:hover {
    background-color: #ffffcc;
}

.crystal-clear {
    background-color: transparent;
}

.select2-container--default .select2-selection--single {
    margin: 0 1%;
}

/* select2 */
.select2-container .select2-selection--single {
    height: 40px !important;
    padding-top: 1%;
}

.select2-selection__arrow {
    top: 7px !important;
}

.inputDistrict,
.inputBusiness {
    width: 193.8px;
}

/* comment */
.content-house {
    margin: auto;
    margin-top: 3%;
}

.click-post {
    width: 53%;
    margin-left: 10%;
}

.click-post:hover {
    background-color: var(--mainHover) !important;
    cursor: pointer;
}

/*  */
.div-hover {
    width: 23%;
    margin: 1%;
}

.div-hover img {
    height: 224px;
}
.div-hover:hover{
    transition: 0.4s;
    border: 1px solid rgb(222, 179, 126) !important;
}
.div-hover:hover img{
    transition: 0.4s;
    opacity: 0.6;
}

/*  */
.infoHouse {
    line-height: 20px;
}

.pagination {
    margin-left: 42%;
}

.showListPost div img {
    width: 140px;
    height: 140px;
}

.showListPost {
    font-size: 17px;
}

/* footer */
#background-footer {
    width: 100%;
    height: 155px;
    background-image: url(../uploads/backgroundfooter.png);
    background-repeat: no-repeat;
}

#infoFooter {
    background-color: var(--mainColor);
}

#infoFooter div img {
    width: 200px;
    height: 65px;
}

#userHouse div img {
    width: 80px;
    height: 80px;
}

/* .container-slide-show {
    width: 100%;
    height: 350px;
    overflow: hidden;
} */

/* star */
.stars a i {
    color: black;
}

.point i {
    color: var(--mainColor);
}

/* comment */
#listComment {
    max-height: 400px;
    overflow-y: scroll;
    position: relative;
}

#commentHouse div img {
    width: 50px;
    height: 50px;
}

/* post */
.post-detail div img {
    max-width: 100%;
    max-height: 350px;
}

/* avatar */
#avatar {
    width: 30px;
    height: 30px;
}

/*  */
#card-user {
    display: none;
    left: -13rem;
    top: 2.5rem;
}

/* image user */
.img-user img {
    width: 310px;
    height: 310px;
}

.btn-editHouseUser {
    top: 0;
    right: 0;
}

/* banner */
.banner-slide {
    height: 400px;
}

#carouselExampleCaptions {
    width: 80%;
    margin: 0 10%;
}

#carouselExampleCaptions img {
    height: 400px;
}

/* imageError */
.imageError {
    width: 350px;
    height: 200px;
}

label.error {
    color: red;
    font-size: 13px;
}

/* slide */
#photoSlideHouse {
    height: 400px;
}

#photoSlideHouse img {
    height: 400px;
}

/* bar select */

#barBusiness a li:hover,
#barAddress a li:hover {
    background-color: var(--darkHover);
}

/* wall user */
.information {
    align-items: center;
}

.information div img {
    width: 100px;
    height: 100px;
}

/* showPhotoHouse img */
#showPhotoHouse div {
    width: 30%;
    height: 170px;
    margin: 2% 1.6%;
}
#showPhotoHouse img{
    width: 100%;
    height: 170px;
}
#showPhotoHouse a{
    top: 5px;
    right: 5px;
}

